// Underlayer framework

// Variables
@import "src/global-variables.styl"

// Base layer
// use any of layers in your custom buid, and include your variables
@import "src/layer-0-base"


// Standardize layer
@import "src/layer-1-standardize"





//Common
// @import "common/variables"
// @import "common/mixins"

//
// Base
//
// @import "layer-0-reset/normalize"
// @import "layer-0-reset/reset"


//
// Standardise
//
// @import "layer-1-standardize/typography"
// @import "layer-1-standardize/grid"
// @import "layer-1-standardize/layout"
// @import "layer-1-standardize/links"
// @import "layer-1-standardize/form"
// @import "layer-1-standardize/table"
// @import "layer-1-standardize/buttons"

// Elements
// @import "layer-1-standardize/navbar"


// Basic
// @import "layer-2-basic/reboot"
// @import "layer-2-basic/navbar"

// Sytlize
//TODO

// Theme
//TODO