// // Navbar

// // body{
// //     &.u--42 {
// //         padding-top 42px !important
// //         .navbar {
// //             height 42px
// //         }
// //     }
// // }
// $color-border = #CDCDCD

// .navbar {
//     // background-color #fff
//     // z-index $z-navbar
//     // display flex
//     // align-items center
    
//     // &.fixed {
//     //     position fixed
//     //     &.top {
//     //         top 0
//     //         left 0
//     //         right 0
//     //         width 100%
//     //     }
//     //     &.bottom {
//     //         bottom 1px
//     //         left 0
//     //         right 0
//     //         width 100%
//     //         border-top 1px solid $color-border
//     //     }
//     //     &.left {
//     //         bottom 0
//     //         left 0
//     //         top 0
//     //         flex-direction column
//     //         border-right 1px solid $color-border
//     //     }
//     // }
    
//     // &__links {
//     //     display flex
//     //     margin-left auto
//     // }
// }

// // .navbar--fixed {
// //     @extend .navbar
// //     position fixed
// //     top 0
// //     left 0
// //     right 0
// // }

// ._links {
//     li {
//         display inline-block
//     }
// }

// // .fc-navbar {
// //     justify-content space-between
// //     // justify-content space-around
// // }

// .push-right {
//     margin-left auto
// }