//

table, th, td {
   border: 1px solid #ccc;
}
// .u-table {
//     background-color #cccs
//     border-spacing: 0.5rem;
//     border-collapse: collapse;
//     width 100%
// }

table {
    background-color #cccs
    border-spacing: 0.5rem;
    border-collapse: collapse;
    width 100%
}

td, th {
    padding 0.5rem
}