//
// Typography
//

body {
    font-family $font-family-sans-serif
    font-size inherit
    font-weight $font-weight
    line-height $line-height-base

    color $color__font
    background-color $color__body-bg
}

h1, h2, h3, h4, h5, h6 {
    font-family inherit
    font-weight bold
    line-height $headings-line-height
    color inherit
    // Provjeri jeli ovo dobro neki drugi put
    // margin-bottom 0.5em
}

// h1 { font-size: 2.0rem; }
// h2 { font-size: 1.5rem; }
// h3 { font-size: 1.17rem; }
// h4 { font-size: 1.12rem; }
// h5 { font-size: 0.83rem; }
// h6 { font-size: 0.75rem; }

p{
    // margin-bottom 1.5rem
    // margin-top 1em
    img {
        // float left
    }
}

blockquote {
    margin 0
    padding 0
}

figure {
    margin 0
    padding 0
}