//Docs stylus
@import "./../src/underlayer.styl"

body {
    margin-top 30px
    font-size .875rem
}
.box {
    flex-grow 1
}

.left {
    background-color #afa
    // flex-grow 8
    // +below(600px){
    //     flex-grow 1 !important
    // }
}
.right {
    background-color #aaa
    // +below(600px){
    //     flex-grow 1 !important
    // }
    // flex-grow 4
}

.is-8 {
    // flex-grow 8
    width 80%
}
.is-4 {
    // flex-grow 4
    width 20%
}