//
// Variables
//

//------------------------------- Global Colors --------------
$gray-dark =        #373a3c
$gray =             #55595c
$gray-light =       #818a91
$gray-lighter =     #eceeef
$gray-lightest =    #f7f7f9

$orange =           #FF9B1A

$color__primary =   $orange //0275d8
$color__success =   #5cb85c
$color__info =      #5bc0de
$color__warning =   #f0ad4e
$color__danger =    #d9534f


//------------------------------- Typography -----------

//Fonts
$font-family-sans-serif = "Helvetica Neue", "Arial", sans-serif
$font-family-serif      = "Georgia", "Times New Roman", "Times", serif

//Headnings
$headings-font-family = $font-family-sans-serif
$headings-font-weight = 700
$headings-line-height = 1

//Base font
$font-size-root =   16px
$font-size-base =   1rem
$line-height-base = 1.625
$font-weight = 400


//------------------------------- Body ------------------

//Body
$color__body-bg =    #fff
$color__font =       #4D4541


// Links
$color__link =            $color__primary
$color__link--hover =     darken($color__link, 15%)

//------------------------------- Layout ----------------

$global-container = 1400px
$nav-height =       60px


//------------------------------- Grid ----------------

// breakpoints represent start point

// When writing dX(divide at X) always start
// with s (small size) eg. start with mobile sizes
// Otherwise it will be broken

$containers = {
    '': 0px,
    'm': 576px,
    'l': 720px,
    'xl': 940px,
    'xxl': 1200px
}

// Nije mnozina ali jebiga
$breakpoint = {
    s: 576px,
    m: 720px,
    l: 940px,
    xl: 1200px,
}


$gutter = 30px
$grid-columns = 12

//------------------------------- Elements ----------------
// Z index
$z-navbar = 999

// Navbar

$navbar-height = 50px

// -------------------------- Flex gird ----------------------

// Nije mnozina ali jebiga
$flex-breakpoints = {
    xs: 400px,
    s: 600px,
    m: 800px,
    l: 1000px,
    xl: 1200px,
    xxl: 1400px
}



